<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <h2><a href="/">Inicio</a></h2>
    </div>
    
    <div>
      <h1>Passo 1: Token de acesso.</h1> 
      <form action="/forgot_password" method="POST">
        <label>Digite seu email para que possa ser enviado um token de cadastro</label>
        <input name="email" type="email" placeholder="Digite seu e-mail">
        <button type="submit">Enviar</button>
      </form>
    </div>

    <br>

    <div class="resetPass">
      <h1>
        Passo 2: Crie sua nova senha.
      </h1>
      <form action="/reset_password" method="POST" >
        <input type="email" name="email" placeholder="E-mail">
        <input type="text" name="token" placeholder="Token">
        <input type="password" name="password" placeholder="nova senha">
        <button type="submit">Enviar</button>
      </form>
    </div>
    <div class="msgerror">
      <%= erro %>
    </div>
    
  </body>
</html>
