<!DOCTYPE html>
<html>
  <head>
    <title>Olá,<%= name %></title>
    <link rel='stylesheet' href='/stylesheets/user_profile.css' />
  </head>
  <body>
    <div class="index">
      <h2><a href="/">Sair</a></h2>
    </div>
  
    <h1>Bem-vindo ao seu perfil, <%= name %></h1>
        
  </body>
</html>
